.dxSpreadsheet_ChartAxesGroup_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleGroup_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleHorizontal_None_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleHorizontal_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleVertical_HorizonlalText_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleVertical_None_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleVertical_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleVertical_RotatedText_Office2010Blue,
.dxSpreadsheet_ChartAxisTitleVertical_VerticalText_Office2010Blue,
.dxSpreadsheet_ChartGridlines_Office2010Blue,
.dxSpreadsheet_ChartGridlinesHorizontal_Major_Office2010Blue,
.dxSpreadsheet_ChartGridlinesHorizontal_MajorMinor_Office2010Blue,
.dxSpreadsheet_ChartGridlinesHorizontal_Minor_Office2010Blue,
.dxSpreadsheet_ChartGridlinesHorizontal_None_Office2010Blue,
.dxSpreadsheet_ChartGridlinesVertical_Major_Office2010Blue,
.dxSpreadsheet_ChartGridlinesVertical_MajorMinor_Office2010Blue,
.dxSpreadsheet_ChartGridlinesVertical_Minor_Office2010Blue,
.dxSpreadsheet_ChartGridlinesVertical_None_Office2010Blue,
.dxSpreadsheet_ChartGroupArea_Office2010Blue,
.dxSpreadsheet_ChartGroupBar_Office2010Blue,
.dxSpreadsheet_ChartGroupColumn_Office2010Blue,
.dxSpreadsheet_ChartGroupLine_Office2010Blue,
.dxSpreadsheet_ChartGroupOther_Office2010Blue,
.dxSpreadsheet_ChartGroupPie_Office2010Blue,
.dxSpreadsheet_ChartGroupScatter_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_Billions_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_Default_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_LeftToRight_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_LogScale_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_Millions_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_None_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_RightToLeft_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_Thousands_Office2010Blue,
.dxSpreadsheet_ChartHorizontalAxis_WithoutLabeling_Office2010Blue,
.dxSpreadsheet_ChartLabels_InsideBase_Office2010Blue,
.dxSpreadsheet_ChartLabels_InsideCenter_Office2010Blue,
.dxSpreadsheet_ChartLabels_InsideEnd_Office2010Blue,
.dxSpreadsheet_ChartLabels_LineAbove_Office2010Blue,
.dxSpreadsheet_ChartLabels_LineBelow_Office2010Blue,
.dxSpreadsheet_ChartLabels_LineCenter_Office2010Blue,
.dxSpreadsheet_ChartLabels_LineLeft_Office2010Blue,
.dxSpreadsheet_ChartLabels_LineNone_Office2010Blue,
.dxSpreadsheet_ChartLabels_LineRight_Office2010Blue,
.dxSpreadsheet_ChartLabels_None_Office2010Blue,
.dxSpreadsheet_ChartLabels_OutsideEnd_Office2010Blue,
.dxSpreadsheet_ChartLabels_Show_Office2010Blue,
.dxSpreadsheet_ChartLegend_Bottom_Office2010Blue,
.dxSpreadsheet_ChartLegend_Left_Office2010Blue,
.dxSpreadsheet_ChartLegend_LeftOverlay_Office2010Blue,
.dxSpreadsheet_ChartLegend_None_Office2010Blue,
.dxSpreadsheet_ChartLegend_Right_Office2010Blue,
.dxSpreadsheet_ChartLegend_RightOverlay_Office2010Blue,
.dxSpreadsheet_ChartLegend_Top_Office2010Blue,
.dxSpreadsheet_ChartPresetArea01_Office2010Blue,
.dxSpreadsheet_ChartPresetArea02_Office2010Blue,
.dxSpreadsheet_ChartPresetArea03_Office2010Blue,
.dxSpreadsheet_ChartPresetArea04_Office2010Blue,
.dxSpreadsheet_ChartPresetArea05_Office2010Blue,
.dxSpreadsheet_ChartPresetArea06_Office2010Blue,
.dxSpreadsheet_ChartPresetArea07_Office2010Blue,
.dxSpreadsheet_ChartPresetArea08_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered01_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered02_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered03_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered04_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered05_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered06_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered07_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered08_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered09_Office2010Blue,
.dxSpreadsheet_ChartPresetBarClustered10_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked01_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked02_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked03_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked04_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked05_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked06_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked07_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked08_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked09_Office2010Blue,
.dxSpreadsheet_ChartPresetBarStacked10_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered01_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered02_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered03_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered04_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered05_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered06_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered07_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered08_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered09_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered10_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnClustered11_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked01_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked02_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked03_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked04_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked05_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked06_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked07_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked08_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked09_Office2010Blue,
.dxSpreadsheet_ChartPresetColumnStacked10_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut01_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut02_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut03_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut04_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut05_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut06_Office2010Blue,
.dxSpreadsheet_ChartPresetDoughnut07_Office2010Blue,
.dxSpreadsheet_ChartPresetLine01_Office2010Blue,
.dxSpreadsheet_ChartPresetLine02_Office2010Blue,
.dxSpreadsheet_ChartPresetLine03_Office2010Blue,
.dxSpreadsheet_ChartPresetLine04_Office2010Blue,
.dxSpreadsheet_ChartPresetLine05_Office2010Blue,
.dxSpreadsheet_ChartPresetLine06_Office2010Blue,
.dxSpreadsheet_ChartPresetLine07_Office2010Blue,
.dxSpreadsheet_ChartPresetLine08_Office2010Blue,
.dxSpreadsheet_ChartPresetLine09_Office2010Blue,
.dxSpreadsheet_ChartPresetLine10_Office2010Blue,
.dxSpreadsheet_ChartPresetLine11_Office2010Blue,
.dxSpreadsheet_ChartPresetLine12_Office2010Blue,
.dxSpreadsheet_ChartPresetPie01_Office2010Blue,
.dxSpreadsheet_ChartPresetPie02_Office2010Blue,
.dxSpreadsheet_ChartPresetPie03_Office2010Blue,
.dxSpreadsheet_ChartPresetPie04_Office2010Blue,
.dxSpreadsheet_ChartPresetPie05_Office2010Blue,
.dxSpreadsheet_ChartPresetPie06_Office2010Blue,
.dxSpreadsheet_ChartPresetPie07_Office2010Blue,
.dxSpreadsheet_ChartPresetRadar01_Office2010Blue,
.dxSpreadsheet_ChartPresetRadar02_Office2010Blue,
.dxSpreadsheet_ChartPresetRadar03_Office2010Blue,
.dxSpreadsheet_ChartPresetRadar04_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter01_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter02_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter03_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter04_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter05_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter06_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter07_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter08_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter09_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter10_Office2010Blue,
.dxSpreadsheet_ChartPresetScatter11_Office2010Blue,
.dxSpreadsheet_ChartPresetStock01_Office2010Blue,
.dxSpreadsheet_ChartPresetStock02_Office2010Blue,
.dxSpreadsheet_ChartPresetStock03_Office2010Blue,
.dxSpreadsheet_ChartPresetStock04_Office2010Blue,
.dxSpreadsheet_ChartPresetStock05_Office2010Blue,
.dxSpreadsheet_ChartPresetStock06_Office2010Blue,
.dxSpreadsheet_ChartPresetStock07_Office2010Blue,
.dxSpreadsheet_ChartSelectData_Office2010Blue,
.dxSpreadsheet_ChartSwitchRowColumn_Office2010Blue,
.dxSpreadsheet_ChartTitleAbove_Office2010Blue,
.dxSpreadsheet_ChartTitleCenteredOverlay_Office2010Blue,
.dxSpreadsheet_ChartTitleNone_Office2010Blue,
.dxSpreadsheet_ChartUpDownBars_None_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_Billions_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_BottomUp_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_Default_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_LogScale_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_Millions_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_None_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_Thousands_Office2010Blue,
.dxSpreadsheet_ChartVerticalAxis_TopDown_Office2010Blue,
.dxSpreadsheet_ChartVerticallAxis_WithoutLabeling_Office2010Blue,
.dxSpreadsheet_Copy_Office2010Blue,
.dxSpreadsheet_CreateArea3DChart_Office2010Blue,
.dxSpreadsheet_CreateArea3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateAreaChart_Office2010Blue,
.dxSpreadsheet_CreateAreaChartLarge_Office2010Blue,
.dxSpreadsheet_CreateBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateBarChart_Office2010Blue,
.dxSpreadsheet_CreateBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateBubble3DChart_Office2010Blue,
.dxSpreadsheet_CreateBubble3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateBubbleChart_Office2010Blue,
.dxSpreadsheet_CreateBubbleChartLarge_Office2010Blue,
.dxSpreadsheet_CreateConeBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateConeBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateConeFullStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateConeFullStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateConeManhattanBarChart_Office2010Blue,
.dxSpreadsheet_CreateConeManhattanBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateConeStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateConeStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateCylinderBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateCylinderBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateCylinderFullStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateCylinderFullStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateCylinderManhattanBarChart_Office2010Blue,
.dxSpreadsheet_CreateCylinderManhattanBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateCylinderStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateCylinderStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateDoughnutChart_Office2010Blue,
.dxSpreadsheet_CreateDoughnutChartLarge_Office2010Blue,
.dxSpreadsheet_CreateExplodedDoughnutChart_Office2010Blue,
.dxSpreadsheet_CreateExplodedDoughnutChartLarge_Office2010Blue,
.dxSpreadsheet_CreateExplodedPie3DChart_Office2010Blue,
.dxSpreadsheet_CreateExplodedPie3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateExplodedPieChart_Office2010Blue,
.dxSpreadsheet_CreateExplodedPieChartLarge_Office2010Blue,
.dxSpreadsheet_CreateFullStackedArea3DChart_Office2010Blue,
.dxSpreadsheet_CreateFullStackedArea3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateFullStackedAreaChart_Office2010Blue,
.dxSpreadsheet_CreateFullStackedAreaChartLarge_Office2010Blue,
.dxSpreadsheet_CreateFullStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateFullStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateFullStackedBarChart_Office2010Blue,
.dxSpreadsheet_CreateFullStackedBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateFullStackedLineChart_Office2010Blue,
.dxSpreadsheet_CreateFullStackedLineChartLarge_Office2010Blue,
.dxSpreadsheet_CreateFullStackedLineChartNoMarkers_Office2010Blue,
.dxSpreadsheet_CreateFullStackedLineChartNoMarkersLarge_Office2010Blue,
.dxSpreadsheet_CreateLine3DChart_Office2010Blue,
.dxSpreadsheet_CreateLine3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateLineChart_Office2010Blue,
.dxSpreadsheet_CreateLineChartLarge_Office2010Blue,
.dxSpreadsheet_CreateLineChartNoMarkers_Office2010Blue,
.dxSpreadsheet_CreateLineChartNoMarkersLarge_Office2010Blue,
.dxSpreadsheet_CreateManhattanBarChart_Office2010Blue,
.dxSpreadsheet_CreateManhattanBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreatePie3DChart_Office2010Blue,
.dxSpreadsheet_CreatePie3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreatePieChart_Office2010Blue,
.dxSpreadsheet_CreatePieChartLarge_Office2010Blue,
.dxSpreadsheet_CreatePyramidBar3DChart_Office2010Blue,
.dxSpreadsheet_CreatePyramidBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreatePyramidFullStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreatePyramidFullStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreatePyramidManhattanBarChart_Office2010Blue,
.dxSpreadsheet_CreatePyramidManhattanBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreatePyramidStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreatePyramidStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRadarLineChart_Office2010Blue,
.dxSpreadsheet_CreateRadarLineChartFilled_Office2010Blue,
.dxSpreadsheet_CreateRadarLineChartFilledLarge_Office2010Blue,
.dxSpreadsheet_CreateRadarLineChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRadarLineChartNoMarkers_Office2010Blue,
.dxSpreadsheet_CreateRadarLineChartNoMarkersLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedBarChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedConeBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedConeBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedCylinderBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedCylinderBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedBarChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedConeBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedConeBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedCylinderBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedCylinderBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedPyramidBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedFullStackedPyramidBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedPyramidBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedPyramidBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedBarChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedConeBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedConeBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedCylinderBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedCylinderBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedPyramidBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateRotatedStackedPyramidBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateScatterChartLines_Office2010Blue,
.dxSpreadsheet_CreateScatterChartLinesAndMarkers_Office2010Blue,
.dxSpreadsheet_CreateScatterChartLinesAndMarkersLarge_Office2010Blue,
.dxSpreadsheet_CreateScatterChartLinesLarge_Office2010Blue,
.dxSpreadsheet_CreateScatterChartMarkersOnly_Office2010Blue,
.dxSpreadsheet_CreateScatterChartMarkersOnlyLarge_Office2010Blue,
.dxSpreadsheet_CreateScatterChartSmoothLines_Office2010Blue,
.dxSpreadsheet_CreateScatterChartSmoothLinesAndMarkers_Office2010Blue,
.dxSpreadsheet_CreateScatterChartSmoothLinesAndMarkersLarge_Office2010Blue,
.dxSpreadsheet_CreateScatterChartSmoothLinesLarge_Office2010Blue,
.dxSpreadsheet_CreateStackedArea3DChart_Office2010Blue,
.dxSpreadsheet_CreateStackedArea3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateStackedAreaChart_Office2010Blue,
.dxSpreadsheet_CreateStackedAreaChartLarge_Office2010Blue,
.dxSpreadsheet_CreateStackedBar3DChart_Office2010Blue,
.dxSpreadsheet_CreateStackedBar3DChartLarge_Office2010Blue,
.dxSpreadsheet_CreateStackedBarChart_Office2010Blue,
.dxSpreadsheet_CreateStackedBarChartLarge_Office2010Blue,
.dxSpreadsheet_CreateStackedLineChart_Office2010Blue,
.dxSpreadsheet_CreateStackedLineChartLarge_Office2010Blue,
.dxSpreadsheet_CreateStackedLineChartNoMarkers_Office2010Blue,
.dxSpreadsheet_CreateStackedLineChartNoMarkersLarge_Office2010Blue,
.dxSpreadsheet_CreateStockChart_Office2010Blue,
.dxSpreadsheet_CreateStockChartHighLowClose_Office2010Blue,
.dxSpreadsheet_CreateStockChartHighLowCloseLarge_Office2010Blue,
.dxSpreadsheet_CreateStockChartLarge_Office2010Blue,
.dxSpreadsheet_CreateStockChartOpenHighLowClose_Office2010Blue,
.dxSpreadsheet_CreateStockChartOpenHighLowCloseLarge_Office2010Blue,
.dxSpreadsheet_Cut_Office2010Blue,
.dxSpreadsheet_Delete_Hyperlink_Office2010Blue,
.dxSpreadsheet_FloatingObjectBringForward_Office2010Blue,
.dxSpreadsheet_FloatingObjectBringToFront_Office2010Blue,
.dxSpreadsheet_FloatingObjectSendBackward_Office2010Blue,
.dxSpreadsheet_FloatingObjectSendToBack_Office2010Blue,
.dxSpreadsheet_Hyperlink_Office2010Blue,
.dxSpreadsheet_OpenHyperlink_Office2010Blue,
.dxSpreadsheet_Paste_Office2010Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxSpreadsheet_ChartAxesGroup_Office2010Blue
{
    background-position: -306px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleGroup_Office2010Blue
{
    background-position: -357px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleHorizontal_None_Office2010Blue
{
    background-position: -204px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleHorizontal_Office2010Blue
{
    background-position: -255px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleVertical_HorizonlalText_Office2010Blue
{
    background-position: -187px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleVertical_None_Office2010Blue
{
    background-position: -512px -540px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleVertical_Office2010Blue
{
    background-position: -539px -147px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleVertical_RotatedText_Office2010Blue
{
    background-position: -493px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartAxisTitleVertical_VerticalText_Office2010Blue
{
    background-position: -425px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlines_Office2010Blue
{
    background-position: -374px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesHorizontal_Major_Office2010Blue
{
    background-position: -136px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesHorizontal_MajorMinor_Office2010Blue
{
    background-position: -542px -326px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesHorizontal_Minor_Office2010Blue
{
    background-position: -85px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesHorizontal_None_Office2010Blue
{
    background-position: -34px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesVertical_Major_Office2010Blue
{
    background-position: -493px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesVertical_MajorMinor_Office2010Blue
{
    background-position: -68px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesVertical_Minor_Office2010Blue
{
    background-position: -459px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGridlinesVertical_None_Office2010Blue
{
    background-position: -510px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupArea_Office2010Blue
{
    background-position: -272px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupBar_Office2010Blue
{
    background-position: -136px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupColumn_Office2010Blue
{
    background-position: -542px -277px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupLine_Office2010Blue
{
    background-position: -425px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupOther_Office2010Blue
{
    background-position: -17px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupPie_Office2010Blue
{
    background-position: -391px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartGroupScatter_Office2010Blue
{
    background-position: -408px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_Billions_Office2010Blue
{
    background-position: -408px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_Default_Office2010Blue
{
    background-position: -255px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_LeftToRight_Office2010Blue
{
    background-position: -357px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_LogScale_Office2010Blue
{
    background-position: -476px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_Millions_Office2010Blue
{
    background-position: -391px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_None_Office2010Blue
{
    background-position: -187px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_RightToLeft_Office2010Blue
{
    background-position: -51px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_Thousands_Office2010Blue
{
    background-position: -17px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartHorizontalAxis_WithoutLabeling_Office2010Blue
{
    background-position: -153px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_InsideBase_Office2010Blue
{
    background-position: -102px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_InsideCenter_Office2010Blue
{
    background-position: -34px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_InsideEnd_Office2010Blue
{
    background-position: -323px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_LineAbove_Office2010Blue
{
    background-position: -340px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_LineBelow_Office2010Blue
{
    background-position: -153px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_LineCenter_Office2010Blue
{
    background-position: -289px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_LineLeft_Office2010Blue
{
    background-position: -170px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_LineNone_Office2010Blue
{
    background-position: -391px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_LineRight_Office2010Blue
{
    background-position: 0px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_None_Office2010Blue
{
    background-position: -136px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_OutsideEnd_Office2010Blue
{
    background-position: -221px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLabels_Show_Office2010Blue
{
    background-position: -323px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_Bottom_Office2010Blue
{
    background-position: -323px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_Left_Office2010Blue
{
    background-position: -459px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_LeftOverlay_Office2010Blue
{
    background-position: -528px -441px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_None_Office2010Blue
{
    background-position: -528px -474px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_Right_Office2010Blue
{
    background-position: -442px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_RightOverlay_Office2010Blue
{
    background-position: -527px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartLegend_Top_Office2010Blue
{
    background-position: -153px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartPresetArea01_Office2010Blue
{
    background-position: -294px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea02_Office2010Blue
{
    background-position: -147px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea03_Office2010Blue
{
    background-position: -196px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea04_Office2010Blue
{
    background-position: -441px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea05_Office2010Blue
{
    background-position: 0px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea06_Office2010Blue
{
    background-position: -490px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea07_Office2010Blue
{
    background-position: -98px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetArea08_Office2010Blue
{
    background-position: -49px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered01_Office2010Blue
{
    background-position: -245px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered02_Office2010Blue
{
    background-position: -49px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered03_Office2010Blue
{
    background-position: -343px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered04_Office2010Blue
{
    background-position: -98px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered05_Office2010Blue
{
    background-position: -196px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered06_Office2010Blue
{
    background-position: -49px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered07_Office2010Blue
{
    background-position: -147px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered08_Office2010Blue
{
    background-position: -245px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered09_Office2010Blue
{
    background-position: -49px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarClustered10_Office2010Blue
{
    background-position: 0px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked01_Office2010Blue
{
    background-position: -147px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked02_Office2010Blue
{
    background-position: -441px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked03_Office2010Blue
{
    background-position: -441px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked04_Office2010Blue
{
    background-position: -49px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked05_Office2010Blue
{
    background-position: -392px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked06_Office2010Blue
{
    background-position: -343px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked07_Office2010Blue
{
    background-position: -49px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked08_Office2010Blue
{
    background-position: -245px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked09_Office2010Blue
{
    background-position: -294px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetBarStacked10_Office2010Blue
{
    background-position: -490px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered01_Office2010Blue
{
    background-position: -441px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered02_Office2010Blue
{
    background-position: 0px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered03_Office2010Blue
{
    background-position: 0px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered04_Office2010Blue
{
    background-position: -343px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered05_Office2010Blue
{
    background-position: -98px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered06_Office2010Blue
{
    background-position: -196px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered07_Office2010Blue
{
    background-position: -392px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered08_Office2010Blue
{
    background-position: -196px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered09_Office2010Blue
{
    background-position: -392px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered10_Office2010Blue
{
    background-position: -294px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnClustered11_Office2010Blue
{
    background-position: -245px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked01_Office2010Blue
{
    background-position: -294px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked02_Office2010Blue
{
    background-position: -49px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked03_Office2010Blue
{
    background-position: -245px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked04_Office2010Blue
{
    background-position: -245px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked05_Office2010Blue
{
    background-position: -392px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked06_Office2010Blue
{
    background-position: -147px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked07_Office2010Blue
{
    background-position: -147px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked08_Office2010Blue
{
    background-position: -490px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked09_Office2010Blue
{
    background-position: 0px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetColumnStacked10_Office2010Blue
{
    background-position: -294px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut01_Office2010Blue
{
    background-position: -147px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut02_Office2010Blue
{
    background-position: -196px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut03_Office2010Blue
{
    background-position: -343px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut04_Office2010Blue
{
    background-position: -490px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut05_Office2010Blue
{
    background-position: -196px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut06_Office2010Blue
{
    background-position: -245px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetDoughnut07_Office2010Blue
{
    background-position: -147px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine01_Office2010Blue
{
    background-position: -49px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine02_Office2010Blue
{
    background-position: -294px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine03_Office2010Blue
{
    background-position: -245px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine04_Office2010Blue
{
    background-position: -392px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine05_Office2010Blue
{
    background-position: -343px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine06_Office2010Blue
{
    background-position: -196px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine07_Office2010Blue
{
    background-position: 0px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine08_Office2010Blue
{
    background-position: -196px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine09_Office2010Blue
{
    background-position: -343px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine10_Office2010Blue
{
    background-position: -98px -196px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine11_Office2010Blue
{
    background-position: -392px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetLine12_Office2010Blue
{
    background-position: -147px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie01_Office2010Blue
{
    background-position: 0px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie02_Office2010Blue
{
    background-position: -196px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie03_Office2010Blue
{
    background-position: -98px 0px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie04_Office2010Blue
{
    background-position: -343px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie05_Office2010Blue
{
    background-position: -490px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie06_Office2010Blue
{
    background-position: -98px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetPie07_Office2010Blue
{
    background-position: -441px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetRadar01_Office2010Blue
{
    background-position: 0px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetRadar02_Office2010Blue
{
    background-position: -392px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetRadar03_Office2010Blue
{
    background-position: -490px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetRadar04_Office2010Blue
{
    background-position: -245px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter01_Office2010Blue
{
    background-position: -441px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter02_Office2010Blue
{
    background-position: -294px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter03_Office2010Blue
{
    background-position: -98px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter04_Office2010Blue
{
    background-position: -147px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter05_Office2010Blue
{
    background-position: -441px -98px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter06_Office2010Blue
{
    background-position: -294px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter07_Office2010Blue
{
    background-position: -392px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter08_Office2010Blue
{
    background-position: -490px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter09_Office2010Blue
{
    background-position: -98px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter10_Office2010Blue
{
    background-position: -343px -294px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetScatter11_Office2010Blue
{
    background-position: -98px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock01_Office2010Blue
{
    background-position: -490px -49px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock02_Office2010Blue
{
    background-position: 0px -245px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock03_Office2010Blue
{
    background-position: -49px -343px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock04_Office2010Blue
{
    background-position: -441px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock05_Office2010Blue
{
    background-position: -343px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock06_Office2010Blue
{
    background-position: -294px -392px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartPresetStock07_Office2010Blue
{
    background-position: -392px -147px;
    width: 48px;
    height: 48px;
}
.dxSpreadsheet_ChartSelectData_Office2010Blue
{
    background-position: -340px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartSwitchRowColumn_Office2010Blue
{
    background-position: -238px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartTitleAbove_Office2010Blue
{
    background-position: -306px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartTitleCenteredOverlay_Office2010Blue
{
    background-position: -374px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartTitleNone_Office2010Blue
{
    background-position: -528px -507px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartUpDownBars_None_Office2010Blue
{
    background-position: -374px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_Billions_Office2010Blue
{
    background-position: -289px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_BottomUp_Office2010Blue
{
    background-position: -272px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_Default_Office2010Blue
{
    background-position: -34px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_LogScale_Office2010Blue
{
    background-position: -391px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_Millions_Office2010Blue
{
    background-position: -119px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_None_Office2010Blue
{
    background-position: -542px -228px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_Thousands_Office2010Blue
{
    background-position: -539px 0px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticalAxis_TopDown_Office2010Blue
{
    background-position: -542px -375px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_ChartVerticallAxis_WithoutLabeling_Office2010Blue
{
    background-position: -459px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Copy_Office2010Blue
{
    background-position: -51px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateArea3DChart_Office2010Blue
{
    background-position: -204px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateArea3DChartLarge_Office2010Blue
{
    background-position: -363px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateAreaChart_Office2010Blue
{
    background-position: -495px -540px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateAreaChartLarge_Office2010Blue
{
    background-position: -429px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateBar3DChart_Office2010Blue
{
    background-position: -85px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateBar3DChartLarge_Office2010Blue
{
    background-position: -33px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateBarChart_Office2010Blue
{
    background-position: -119px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateBarChartLarge_Office2010Blue
{
    background-position: -441px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateBubble3DChart_Office2010Blue
{
    background-position: -540px -392px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateBubble3DChartLarge_Office2010Blue
{
    background-position: -495px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateBubbleChart_Office2010Blue
{
    background-position: -442px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateBubbleChartLarge_Office2010Blue
{
    background-position: -33px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateConeBar3DChart_Office2010Blue
{
    background-position: -476px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateConeBar3DChartLarge_Office2010Blue
{
    background-position: -396px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateConeFullStackedBar3DChart_Office2010Blue
{
    background-position: -510px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateConeFullStackedBar3DChartLarge_Office2010Blue
{
    background-position: -495px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateConeManhattanBarChart_Office2010Blue
{
    background-position: -340px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateConeManhattanBarChartLarge_Office2010Blue
{
    background-position: -396px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateConeStackedBar3DChart_Office2010Blue
{
    background-position: -204px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateConeStackedBar3DChartLarge_Office2010Blue
{
    background-position: -264px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateCylinderBar3DChart_Office2010Blue
{
    background-position: -539px -343px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateCylinderBar3DChartLarge_Office2010Blue
{
    background-position: -264px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateCylinderFullStackedBar3DChart_Office2010Blue
{
    background-position: -374px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateCylinderFullStackedBar3DChartLarge_Office2010Blue
{
    background-position: -474px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateCylinderManhattanBarChart_Office2010Blue
{
    background-position: -221px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateCylinderManhattanBarChartLarge_Office2010Blue
{
    background-position: -231px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateCylinderStackedBar3DChart_Office2010Blue
{
    background-position: -102px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateCylinderStackedBar3DChartLarge_Office2010Blue
{
    background-position: -198px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateDoughnutChart_Office2010Blue
{
    background-position: -357px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateDoughnutChartLarge_Office2010Blue
{
    background-position: -231px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateExplodedDoughnutChart_Office2010Blue
{
    background-position: -408px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateExplodedDoughnutChartLarge_Office2010Blue
{
    background-position: -507px -392px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateExplodedPie3DChart_Office2010Blue
{
    background-position: -340px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateExplodedPie3DChartLarge_Office2010Blue
{
    background-position: -330px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateExplodedPieChart_Office2010Blue
{
    background-position: -68px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateExplodedPieChartLarge_Office2010Blue
{
    background-position: -264px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateFullStackedArea3DChart_Office2010Blue
{
    background-position: -539px -294px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateFullStackedArea3DChartLarge_Office2010Blue
{
    background-position: -231px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateFullStackedAreaChart_Office2010Blue
{
    background-position: -272px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateFullStackedAreaChartLarge_Office2010Blue
{
    background-position: -462px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateFullStackedBar3DChart_Office2010Blue
{
    background-position: -539px -49px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateFullStackedBar3DChartLarge_Office2010Blue
{
    background-position: -66px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateFullStackedBarChart_Office2010Blue
{
    background-position: -221px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateFullStackedBarChartLarge_Office2010Blue
{
    background-position: -33px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateFullStackedLineChart_Office2010Blue
{
    background-position: -510px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateFullStackedLineChartLarge_Office2010Blue
{
    background-position: -99px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateFullStackedLineChartNoMarkers_Office2010Blue
{
    background-position: -323px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateFullStackedLineChartNoMarkersLarge_Office2010Blue
{
    background-position: -462px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateLine3DChart_Office2010Blue
{
    background-position: -306px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateLine3DChartLarge_Office2010Blue
{
    background-position: -165px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateLineChart_Office2010Blue
{
    background-position: -221px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateLineChartLarge_Office2010Blue
{
    background-position: -396px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateLineChartNoMarkers_Office2010Blue
{
    background-position: -85px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateLineChartNoMarkersLarge_Office2010Blue
{
    background-position: -132px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateManhattanBarChart_Office2010Blue
{
    background-position: -442px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateManhattanBarChartLarge_Office2010Blue
{
    background-position: -429px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreatePie3DChart_Office2010Blue
{
    background-position: -170px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreatePie3DChartLarge_Office2010Blue
{
    background-position: -66px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreatePieChart_Office2010Blue
{
    background-position: -238px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreatePieChartLarge_Office2010Blue
{
    background-position: -495px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreatePyramidBar3DChart_Office2010Blue
{
    background-position: -542px -179px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreatePyramidBar3DChartLarge_Office2010Blue
{
    background-position: -297px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreatePyramidFullStackedBar3DChart_Office2010Blue
{
    background-position: -238px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreatePyramidFullStackedBar3DChartLarge_Office2010Blue
{
    background-position: -330px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreatePyramidManhattanBarChart_Office2010Blue
{
    background-position: -289px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreatePyramidManhattanBarChartLarge_Office2010Blue
{
    background-position: 0px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreatePyramidStackedBar3DChart_Office2010Blue
{
    background-position: -17px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreatePyramidStackedBar3DChartLarge_Office2010Blue
{
    background-position: -264px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRadarLineChart_Office2010Blue
{
    background-position: -539px -196px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRadarLineChartFilled_Office2010Blue
{
    background-position: -476px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRadarLineChartFilledLarge_Office2010Blue
{
    background-position: -165px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRadarLineChartLarge_Office2010Blue
{
    background-position: -165px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRadarLineChartNoMarkers_Office2010Blue
{
    background-position: -136px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRadarLineChartNoMarkersLarge_Office2010Blue
{
    background-position: -66px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedBar3DChart_Office2010Blue
{
    background-position: -357px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedBar3DChartLarge_Office2010Blue
{
    background-position: -363px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedBarChart_Office2010Blue
{
    background-position: -542px -130px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedBarChartLarge_Office2010Blue
{
    background-position: -198px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedConeBar3DChart_Office2010Blue
{
    background-position: 0px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedConeBar3DChartLarge_Office2010Blue
{
    background-position: -198px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedCylinderBar3DChart_Office2010Blue
{
    background-position: -306px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedCylinderBar3DChartLarge_Office2010Blue
{
    background-position: -231px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedFullStackedBar3DChart_Office2010Blue
{
    background-position: -85px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedFullStackedBar3DChartLarge_Office2010Blue
{
    background-position: -297px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedFullStackedBarChart_Office2010Blue
{
    background-position: -539px -245px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedFullStackedBarChartLarge_Office2010Blue
{
    background-position: -462px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedFullStackedConeBar3DChart_Office2010Blue
{
    background-position: -119px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedFullStackedConeBar3DChartLarge_Office2010Blue
{
    background-position: -429px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedFullStackedCylinderBar3DChart_Office2010Blue
{
    background-position: -187px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedFullStackedCylinderBar3DChartLarge_Office2010Blue
{
    background-position: -363px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedFullStackedPyramidBar3DChart_Office2010Blue
{
    background-position: -170px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedFullStackedPyramidBar3DChartLarge_Office2010Blue
{
    background-position: -330px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedPyramidBar3DChart_Office2010Blue
{
    background-position: -187px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedPyramidBar3DChartLarge_Office2010Blue
{
    background-position: 0px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedStackedBar3DChart_Office2010Blue
{
    background-position: -542px -424px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedStackedBar3DChartLarge_Office2010Blue
{
    background-position: -33px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedStackedBarChart_Office2010Blue
{
    background-position: -272px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedStackedBarChartLarge_Office2010Blue
{
    background-position: -99px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedStackedConeBar3DChart_Office2010Blue
{
    background-position: 0px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedStackedConeBar3DChartLarge_Office2010Blue
{
    background-position: -132px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedStackedCylinderBar3DChart_Office2010Blue
{
    background-position: -289px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedStackedCylinderBar3DChartLarge_Office2010Blue
{
    background-position: -198px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateRotatedStackedPyramidBar3DChart_Office2010Blue
{
    background-position: -102px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateRotatedStackedPyramidBar3DChartLarge_Office2010Blue
{
    background-position: -429px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateScatterChartLines_Office2010Blue
{
    background-position: -539px -98px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateScatterChartLinesAndMarkers_Office2010Blue
{
    background-position: -51px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateScatterChartLinesAndMarkersLarge_Office2010Blue
{
    background-position: -396px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateScatterChartLinesLarge_Office2010Blue
{
    background-position: -363px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateScatterChartMarkersOnly_Office2010Blue
{
    background-position: -51px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateScatterChartMarkersOnlyLarge_Office2010Blue
{
    background-position: -165px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateScatterChartSmoothLines_Office2010Blue
{
    background-position: -153px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateScatterChartSmoothLinesAndMarkers_Office2010Blue
{
    background-position: -542px -32px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateScatterChartSmoothLinesAndMarkersLarge_Office2010Blue
{
    background-position: -462px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateScatterChartSmoothLinesLarge_Office2010Blue
{
    background-position: -99px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStackedArea3DChart_Office2010Blue
{
    background-position: -204px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStackedArea3DChartLarge_Office2010Blue
{
    background-position: 0px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStackedAreaChart_Office2010Blue
{
    background-position: -17px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStackedAreaChartLarge_Office2010Blue
{
    background-position: -132px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStackedBar3DChart_Office2010Blue
{
    background-position: -255px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStackedBar3DChartLarge_Office2010Blue
{
    background-position: -330px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStackedBarChart_Office2010Blue
{
    background-position: -542px -81px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStackedBarChartLarge_Office2010Blue
{
    background-position: -99px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStackedLineChart_Office2010Blue
{
    background-position: -527px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStackedLineChartLarge_Office2010Blue
{
    background-position: -132px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStackedLineChartNoMarkers_Office2010Blue
{
    background-position: 0px -590px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStackedLineChartNoMarkersLarge_Office2010Blue
{
    background-position: -297px -474px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStockChart_Office2010Blue
{
    background-position: -425px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStockChartHighLowClose_Office2010Blue
{
    background-position: -493px -607px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStockChartHighLowCloseLarge_Office2010Blue
{
    background-position: 0px -540px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStockChartLarge_Office2010Blue
{
    background-position: -66px -507px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_CreateStockChartOpenHighLowClose_Office2010Blue
{
    background-position: -68px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_CreateStockChartOpenHighLowCloseLarge_Office2010Blue
{
    background-position: -297px -441px;
    width: 32px;
    height: 32px;
}
.dxSpreadsheet_Cut_Office2010Blue
{
    background-position: -170px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Delete_Hyperlink_Office2010Blue
{
    background-position: -34px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_FloatingObjectBringForward_Office2010Blue
{
    background-position: -119px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_FloatingObjectBringToFront_Office2010Blue
{
    background-position: -255px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_FloatingObjectSendBackward_Office2010Blue
{
    background-position: -102px -624px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_FloatingObjectSendToBack_Office2010Blue
{
    background-position: -68px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Hyperlink_Office2010Blue
{
    background-position: -527px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_OpenHyperlink_Office2010Blue
{
    background-position: -238px -573px;
    width: 16px;
    height: 16px;
}
.dxSpreadsheet_Paste_Office2010Blue
{
    background-position: -529px -540px;
    width: 16px;
    height: 16px;
}

