USE [INJIBOA]
GO
/****** Object:  StoredProcedure [dbo].[REPORTE_OIP]    Script Date: 01/07/2024 3:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER procedure [dbo].[REPORTE_OIP]
@id_opi int
as
begin
	--declare @id_opi int
	--set @id_opi = 8

	create table #oip(
		no_oip_ltr varchar(50),
		fecha_oip datetime,
		fecha_oip_ltr varchar(200),
		no_oip varchar(50),
		yo varchar(200),
		dui varchar(20),
		calidad varchar(30),
		sociedad varchar(200),
		codiprovee varchar(20),
		nit varchar(20),
		nrc varchar(20),
		zafra varchar(20),
		pronombre_mi varchar(20),
		pronombre_tengo varchar(20),
		porc_venta_ltr  varchar(20),
		banco varchar(200),
		fecha_contrato varchar(200),
		descrip_lotes varchar(4000),
		ubicacion_lotes varchar(4000),
		direccion varchar(2000),
		telefono varchar(50),
		correo varchar(100),
		referencia_gf varchar(100),
		clausula_comple varchar(2000),
		info_contratos  varchar(2000)
	)

	insert #oip
	select 
		case s.NUM_OPI_PROVEE_ZAFRA
			when 1 then 'PRIMERA'
			when 2 then 'SEGUNDA'
			when 3 then 'TERCERA'
			when 4 then 'CUARTA'
			when 5 then 'QUINTA'
			when 6 then 'SEXTA'
			when 7 then 'SEPTIMA'
		end as no_oip_ltr,
		s.FECHA as fecha_oip, cast(day(s.FECHA) as varchar) + ' DE ' + dbo.NombreMes(month(s.FECHA)) + ' DE ' + cast(year(s.FECHA) as varchar) as fecha_oip_ltr,
		s.NUM_OPI_ZAFRA as no_oip, 
		case (select max(c.TIPO_CONTRATO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
			when 1 then isnull(rtrim(p.NOMBRES),'') + ' ' + isnull(rtrim(p.APELLIDOS),'') 			
			else (select max(c.APODERADO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
		end as yo,
		case (select max(c.TIPO_CONTRATO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
			when 1 then dbo.FormatearDUI(p.DUI)
			else (select  dbo.FormatearDUI(max(c.DUI_APODERADO)) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
		end as dui, 
		case (select max(c.TIPO_CONTRATO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
			when 1 then 'PERSONAL'
			when 2 then 'REPRESENTANTE LEGAL'
			else 'APODERADO'
		end as calidad,
		case (select max(c.TIPO_CONTRATO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
			when 1 then isnull(rtrim(p.NOMBRES),'') + ' ' + isnull(rtrim(p.APELLIDOS),'')
			else (select max(isnull(rtrim(c.NOMBRES),'') + ' ' + isnull(rtrim(c.APELLIDOS),'')) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
		end as sociedad,
		cast(p.CODIPROVEE as int) as codiprovee,
		dbo.FormatearNIT((select max(c.NIT) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI)) as nit,
		(select max(c.CREDITFISCAL) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) as nrc,
		(select replace(z.NOMBRE_ZAFRA,'/','-') from zafra z where z.ID_ZAFRA = s.ID_ZAFRA) as zafra,
		case (select max(c.TIPO_CONTRATO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
			when 1 then 'MI'			
			else 'NUESTRA'
		end as pronombre_mi,
		case (select max(c.TIPO_CONTRATO) from SOLIC_OIP_LOTE sc, LOTES l, CONTRATO c where sc.ACCESLOTE = l.ACCESLOTE and c.CODICONTRATO = l.CODICONTRATO and sc.ID_OPI = s.ID_OPI) 
			when 1 then 'TENGO'			
			else 'TENEMOS'
		end as pronombre_tengo, FORMAT(s.PORC_DESCTO,'###.##') + '%' as porc_venta_ltr, (select b.NOMBRE_BANCO from BANCOS b where b.CODIBANCO = s.CODIBANCO) as banco, null as fecha_contrato,
		null as descrip_lotes, null as ubicacion_lotes, p.DIRECCION, p.TELEFONO, null as correo, s.REFERENCIA_GF,
		case s.NUM_OPI_PROVEE_ZAFRA
			when 1 then '; y h) todos aquellos costos relacionados con la zafra,'
			when 2 then ', h) Primera orden irrevocable de pago y i) todos aquellos costos relacionados con la zafra,'
			when 3 then ', h) Primera orden irrevocable de pago, i) Segunda orden irrevocable de pago y j) todos aquellos costos relacionados con la zafra,'
			when 4 then ', h) Primera orden irrevocable de pago, i) Segunda orden irrevocable de pago, j) Tercera orden irrevocable de pago y k) todos aquellos costos relacionados con la zafra,'
			when 5 then ', h) Primera orden irrevocable de pago, i) Segunda orden irrevocable de pago, j) Tercera orden irrevocable de pago, k) Cuarta orden irrevocable de pago y l) todos aquellos costos relacionados con la zafra,'
			when 6 then 'SEXTA'
			when 7 then 'SEPTIMA'
		end as clausula_comple, null as info_contratos
	from SOLIC_OPI s, PROVEEDOR p
	where s.CODIPROVEEDOR = p.CODIPROVEEDOR
	and s.ID_OPI = @id_opi
	

	-- ******************* INFO CONTRATOS *********************
	declare @cur_no_contrato int,
			@cur_fecha_contrato datetime,	
			@info_contratos varchar(2000)
	set @info_contratos = ''

	declare cur000 cursor for
	select distinct c.NO_CONTRATO, c.FECHA_CONTRA_LEGAL
	from SOLIC_OIP_LOTE sc, CONTRATO c, LOTES l
	where sc.ID_OPI = @id_opi
	and sc.ACCESLOTE = l.ACCESLOTE
	and c.CODICONTRATO = l.CODICONTRATO
	and not c.FECHA_CONTRATOCB is null
	order by c.NO_CONTRATO

	open cur000
	fetch next from cur000
	into @cur_no_contrato, @cur_fecha_contrato

	while @@FETCH_STATUS = 0
		begin

		if @info_contratos = ''			
			set @info_contratos = 'Contrato No. ' + cast(@cur_no_contrato as varchar) + ' suscrito con fecha ' 
			+ cast(day(@cur_fecha_contrato) AS VARCHAR) + ' de ' + lower(dbo.NombreMes(month(@cur_fecha_contrato))) + ' de ' 
			+ cast(year(@cur_fecha_contrato) AS VARCHAR)
		else 
			set @info_contratos = @info_contratos + ', ' 
			+ 'Contrato No. ' + cast(@cur_no_contrato as varchar) + ' suscrito con fecha ' 
			+ cast(day(@cur_fecha_contrato) AS VARCHAR) + ' de ' +  lower(dbo.NombreMes(month(@cur_fecha_contrato))) + ' de ' 
			+ cast(year(@cur_fecha_contrato) AS VARCHAR)

		fetch next from cur000
		into @cur_no_contrato, @cur_fecha_contrato
		end
	close cur000
	deallocate cur000

	update #oip set info_contratos = @info_contratos


	-- ******************* DESCRIPCION DE LOTES *********************
	declare @cur_descrip_lotes varchar(4000),
			@cur_codi_canton varchar(4000),
			@cur_codi_muni varchar(4000),
			@cur_codi_depto varchar(4000),
			@cur_descrip_canton varchar(4000),
			@cur_nomblote varchar(4000),
			@descrip_lotes varchar(4000),
			@ubicacion_lotes varchar(4000),
			@ubicacion_lotes_global varchar(4000)

	set @descrip_lotes = ''
	set @ubicacion_lotes = ''
	set @ubicacion_lotes_global = ''

	declare cur001 cursor for
	select rtrim(l.NOMBLOTE) + ' (' + cast(l.AREA as varchar) + ' ha)' + ' de una extensión de ' + cast(l.AREA as varchar) + ' hectareas, '
	from SOLIC_OIP_LOTE sc, CONTRATO c, LOTES l
	where sc.ID_OPI = @id_opi
	and sc.ACCESLOTE = l.ACCESLOTE
	and c.CODICONTRATO = l.CODICONTRATO
	order by c.NO_CONTRATO

	open cur001
	fetch next from cur001
	into @cur_descrip_lotes

	while @@FETCH_STATUS = 0
		begin
		set @descrip_lotes = @descrip_lotes + @cur_descrip_lotes 

		fetch next from cur001
		into @cur_descrip_lotes
		end
	close cur001
	deallocate cur001

	set @descrip_lotes = rtrim(@descrip_lotes)
	update #oip set descrip_lotes = @descrip_lotes


	declare cur002 cursor for
	select distinct ml.CODI_CANTON, ml.CODI_MUNI, ml.CODI_DEPTO, 
			'UBICADO EN CANTON ' + (select c.NOMBRE_CANTON from CANTON c where c.CODI_DEPTO = ml.CODI_DEPTO and c.CODI_MUNI = ml.CODI_MUNI and c.CODI_CANTON = ml.CODI_CANTON) + ' ' +
			'JURISDICCION DE ' + (select m.NOMBRE_MUNI from MUNICIPIO m where m.CODI_DEPTO = ml.CODI_DEPTO and m.CODI_MUNI = ml.CODI_MUNI) + ' ' + 
			'DEPARTAMENTO DE ' + (select d.NOMBRE_DEPTO from DEPARTAMENTO d where d.CODI_DEPTO = ml.CODI_DEPTO) + ', ' as descrip_canton
	from SOLIC_OIP_LOTE sc, CONTRATO c, LOTES l, MAESTRO_LOTES ml
	where sc.ID_OPI = @id_opi
	and sc.ACCESLOTE = l.ACCESLOTE
	and c.CODICONTRATO = l.CODICONTRATO
	and l.ID_MAESTRO = ml.ID_MAESTRO
	group by  ml.CODI_CANTON, ml.CODI_MUNI, ml.CODI_DEPTO
	order by ml.CODI_CANTON, ml.CODI_MUNI, ml.CODI_DEPTO

	open cur002
	fetch next from cur002
	into @cur_codi_canton, @cur_codi_muni, @cur_codi_depto, @cur_descrip_canton

	while @@FETCH_STATUS = 0
		begin
		
		set @ubicacion_lotes = ''

		declare cur003 cursor for
		select ltrim(rtrim(l.NOMBLOTE))
		from SOLIC_OIP_LOTE sc, CONTRATO c, LOTES l, MAESTRO_LOTES ml
		where sc.ID_OPI = @id_opi
		and sc.ACCESLOTE = l.ACCESLOTE
		and c.CODICONTRATO = l.CODICONTRATO
		and l.ID_MAESTRO = ml.ID_MAESTRO
		and ml.CODI_CANTON = @cur_codi_canton and ml.CODI_MUNI = @cur_codi_muni and ml.CODI_DEPTO = @cur_codi_depto
				
		open cur003
		fetch next from cur003
		into @cur_nomblote

		while @@FETCH_STATUS = 0
			begin
			set @ubicacion_lotes = @ubicacion_lotes + @cur_nomblote + ', '			

			fetch next from cur003
			into @cur_nomblote
			end
		close cur003
		deallocate cur003
				
		set @ubicacion_lotes_global = @ubicacion_lotes_global + left(@ubicacion_lotes, len(@ubicacion_lotes) - 1) + ' ' + @cur_descrip_canton

		fetch next from cur002
		into @cur_codi_canton, @cur_codi_muni, @cur_codi_depto, @cur_descrip_canton
		end
	close cur002
	deallocate cur002

	set @ubicacion_lotes_global = rtrim(@ubicacion_lotes_global)
	update #oip set ubicacion_lotes = @ubicacion_lotes_global

	select * from #oip

	drop table #oip
end

