.dxHtmlEditor_heConstrainProportionsBottom_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsBottomRtl_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsTop_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsTopRtl_Office2010Blue,
.dxHtmlEditor_heErrorFrameCloseButton_Office2010Blue,
.dxHtmlEditor_heSizeGrip_Office2010Blue,
.dxHtmlEditor_heSizeGripRtl_Office2010Blue,
.dxHtmlEditor_heToolbarPopOut_Office2010Blue,
.dxHtmlEditor_Icons_heBackColor_Office2010Blue,
.dxHtmlEditor_Icons_heBackColorDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heBold_Office2010Blue,
.dxHtmlEditor_Icons_heBoldDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCenter_Office2010Blue,
.dxHtmlEditor_Icons_heCenterDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableCellDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableRowDialog_Office2010Blue,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCheckSpelling_Office2010Blue,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCopy_Office2010Blue,
.dxHtmlEditor_Icons_heCopyDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heCut_Office2010Blue,
.dxHtmlEditor_Icons_heCutDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTable_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableColumn_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableRow_Office2010Blue,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heForeColor_Office2010Blue,
.dxHtmlEditor_Icons_heForeColorDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heFullscreen_Office2010Blue,
.dxHtmlEditor_Icons_heFullscreenDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heIndent_Office2010Blue,
.dxHtmlEditor_Icons_heIndentDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertAudioDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertAudioDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertFlashDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertFlashDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertImageDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertLinkDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertOrderedList_Office2010Blue,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowAbove_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowBelow_Office2010Blue,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertUnorderedList_Office2010Blue,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertVideoDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertVideoDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heInsertYouTubeDialog_Office2010Blue,
.dxHtmlEditor_Icons_heInsertYouTubeDialogDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heItalic_Office2010Blue,
.dxHtmlEditor_Icons_heItalicDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heJustifyFull_Office2010Blue,
.dxHtmlEditor_Icons_heJustifyFullDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heLeft_Office2010Blue,
.dxHtmlEditor_Icons_heLeftDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellVertical_Office2010Blue,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heOutdent_Office2010Blue,
.dxHtmlEditor_Icons_heOutdentDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePaste_Office2010Blue,
.dxHtmlEditor_Icons_hePasteDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePasteFromWord_Office2010Blue,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePasteHtmlMergeFormatting_Office2010Blue,
.dxHtmlEditor_Icons_hePasteHtmlMergeFormattingDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePasteHtmlPlainText_Office2010Blue,
.dxHtmlEditor_Icons_hePasteHtmlPlainTextDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePasteHtmlSourceFormatting_Office2010Blue,
.dxHtmlEditor_Icons_hePasteHtmlSourceFormattingDisabled_Office2010Blue,
.dxHtmlEditor_Icons_hePrint_Office2010Blue,
.dxHtmlEditor_Icons_hePrintDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heRedo_Office2010Blue,
.dxHtmlEditor_Icons_heRedoDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heRemoveFormat_Office2010Blue,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heRight_Office2010Blue,
.dxHtmlEditor_Icons_heRightDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsDocx_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsDocxDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsMht_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsMhtDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsOdt_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsOdtDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsPdf_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsPdfDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsRtf_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsRtfDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsTxt_Office2010Blue,
.dxHtmlEditor_Icons_heSaveAsTxtDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellVertical_Office2010Blue,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heStrikethrough_Office2010Blue,
.dxHtmlEditor_Icons_heStrikethroughDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSubscript_Office2010Blue,
.dxHtmlEditor_Icons_heSubscriptDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heSuperscript_Office2010Blue,
.dxHtmlEditor_Icons_heSuperscriptDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heUnderline_Office2010Blue,
.dxHtmlEditor_Icons_heUnderlineDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heUndo_Office2010Blue,
.dxHtmlEditor_Icons_heUndoDisabled_Office2010Blue,
.dxHtmlEditor_Icons_heUnlink_Office2010Blue,
.dxHtmlEditor_Icons_heUnlinkDisabled_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Blue
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_heConstrainProportionsBottom_Office2010Blue
{
    background-position: -28px -410px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsBottomRtl_Office2010Blue
{
    background-position: -40px -410px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Blue
{
    background-position: -24px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Office2010Blue
{
    background-position: 0px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Blue
{
    background-position: -36px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Office2010Blue
{
    background-position: -12px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsTop_Office2010Blue
{
    background-position: -52px -410px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heConstrainProportionsTopRtl_Office2010Blue
{
    background-position: -64px -410px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heErrorFrameCloseButton_Office2010Blue
{
    background-position: -14px -410px;
    width: 13px;
    height: 9px;
}
.dxHtmlEditor_heSizeGrip_Office2010Blue
{
    background-position: 0px -410px;
    width: 13px;
    height: 13px;
}
.dxHtmlEditor_heSizeGripRtl_Office2010Blue
{
    background-position: -68px -393px;
    width: 13px;
    height: 13px;
}
.dxHtmlEditor_heToolbarPopOut_Office2010Blue
{
    background-position: -76px -410px;
    width: 7px;
    height: 4px;
}
.dxHtmlEditor_Icons_heBackColor_Office2010Blue
{
    background-position: -65px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBackColorDisabled_Office2010Blue
{
    background-position: 0px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBold_Office2010Blue
{
    background-position: -68px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBoldDisabled_Office2010Blue
{
    background-position: -51px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenter_Office2010Blue
{
    background-position: -17px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenterDisabled_Office2010Blue
{
    background-position: 0px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialog_Office2010Blue
{
    background-position: -34px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Office2010Blue
{
    background-position: -34px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Office2010Blue
{
    background-position: -68px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Office2010Blue
{
    background-position: -51px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialog_Office2010Blue
{
    background-position: -34px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Office2010Blue
{
    background-position: -68px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialog_Office2010Blue
{
    background-position: -17px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Office2010Blue
{
    background-position: -51px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpelling_Office2010Blue
{
    background-position: -51px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Office2010Blue
{
    background-position: -17px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopy_Office2010Blue
{
    background-position: -68px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopyDisabled_Office2010Blue
{
    background-position: -17px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCut_Office2010Blue
{
    background-position: -68px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCutDisabled_Office2010Blue
{
    background-position: -68px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTable_Office2010Blue
{
    background-position: -51px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumn_Office2010Blue
{
    background-position: -51px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Office2010Blue
{
    background-position: -34px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableDisabled_Office2010Blue
{
    background-position: -68px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRow_Office2010Blue
{
    background-position: -34px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Office2010Blue
{
    background-position: -51px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColor_Office2010Blue
{
    background-position: -17px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColorDisabled_Office2010Blue
{
    background-position: -17px -376px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreen_Office2010Blue
{
    background-position: -68px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled_Office2010Blue
{
    background-position: 0px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndent_Office2010Blue
{
    background-position: -34px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndentDisabled_Office2010Blue
{
    background-position: 0px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertAudioDialog_Office2010Blue
{
    background-position: -17px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertAudioDialogDisabled_Office2010Blue
{
    background-position: -51px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertFlashDialog_Office2010Blue
{
    background-position: -17px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertFlashDialogDisabled_Office2010Blue
{
    background-position: -51px -376px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialog_Office2010Blue
{
    background-position: -68px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Office2010Blue
{
    background-position: -17px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialog_Office2010Blue
{
    background-position: 0px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Office2010Blue
{
    background-position: -17px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedList_Office2010Blue
{
    background-position: -51px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Office2010Blue
{
    background-position: -17px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Office2010Blue
{
    background-position: -68px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Office2010Blue
{
    background-position: -51px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Office2010Blue
{
    background-position: -51px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Office2010Blue
{
    background-position: 0px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialog_Office2010Blue
{
    background-position: -34px -393px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Office2010Blue
{
    background-position: -68px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAbove_Office2010Blue
{
    background-position: 0px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Office2010Blue
{
    background-position: -68px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelow_Office2010Blue
{
    background-position: -51px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Office2010Blue
{
    background-position: -17px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedList_Office2010Blue
{
    background-position: -17px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Office2010Blue
{
    background-position: -17px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertVideoDialog_Office2010Blue
{
    background-position: -51px -393px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertVideoDialogDisabled_Office2010Blue
{
    background-position: -34px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertYouTubeDialog_Office2010Blue
{
    background-position: -17px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertYouTubeDialogDisabled_Office2010Blue
{
    background-position: -51px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalic_Office2010Blue
{
    background-position: -34px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalicDisabled_Office2010Blue
{
    background-position: -68px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFull_Office2010Blue
{
    background-position: -51px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFullDisabled_Office2010Blue
{
    background-position: -51px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeft_Office2010Blue
{
    background-position: -68px -376px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeftDisabled_Office2010Blue
{
    background-position: 0px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Office2010Blue
{
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Office2010Blue
{
    background-position: -68px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVertical_Office2010Blue
{
    background-position: -51px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Office2010Blue
{
    background-position: -34px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdent_Office2010Blue
{
    background-position: -68px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdentDisabled_Office2010Blue
{
    background-position: -34px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePaste_Office2010Blue
{
    background-position: -51px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteDisabled_Office2010Blue
{
    background-position: -68px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWord_Office2010Blue
{
    background-position: -51px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Office2010Blue
{
    background-position: -68px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlMergeFormatting_Office2010Blue
{
    background-position: -17px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlMergeFormattingDisabled_Office2010Blue
{
    background-position: -17px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlPlainText_Office2010Blue
{
    background-position: 0px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlPlainTextDisabled_Office2010Blue
{
    background-position: 0px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlSourceFormatting_Office2010Blue
{
    background-position: 0px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlSourceFormattingDisabled_Office2010Blue
{
    background-position: -17px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrint_Office2010Blue
{
    background-position: -34px -376px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrintDisabled_Office2010Blue
{
    background-position: 0px -376px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedo_Office2010Blue
{
    background-position: -51px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedoDisabled_Office2010Blue
{
    background-position: -34px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormat_Office2010Blue
{
    background-position: 0px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Office2010Blue
{
    background-position: -48px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRight_Office2010Blue
{
    background-position: 0px -393px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRightDisabled_Office2010Blue
{
    background-position: -17px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocx_Office2010Blue
{
    background-position: -34px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocxDisabled_Office2010Blue
{
    background-position: 0px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMht_Office2010Blue
{
    background-position: -34px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMhtDisabled_Office2010Blue
{
    background-position: 0px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdt_Office2010Blue
{
    background-position: 0px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdtDisabled_Office2010Blue
{
    background-position: -68px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdf_Office2010Blue
{
    background-position: -68px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdfDisabled_Office2010Blue
{
    background-position: -34px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtf_Office2010Blue
{
    background-position: 0px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtfDisabled_Office2010Blue
{
    background-position: 0px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxt_Office2010Blue
{
    background-position: -34px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxtDisabled_Office2010Blue
{
    background-position: 0px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Office2010Blue
{
    background-position: -68px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Office2010Blue
{
    background-position: -34px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVertical_Office2010Blue
{
    background-position: -68px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Office2010Blue
{
    background-position: -34px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethrough_Office2010Blue
{
    background-position: 0px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethroughDisabled_Office2010Blue
{
    background-position: -17px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscript_Office2010Blue
{
    background-position: -17px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscriptDisabled_Office2010Blue
{
    background-position: -34px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscript_Office2010Blue
{
    background-position: -34px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscriptDisabled_Office2010Blue
{
    background-position: -17px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderline_Office2010Blue
{
    background-position: -34px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderlineDisabled_Office2010Blue
{
    background-position: -51px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndo_Office2010Blue
{
    background-position: 0px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndoDisabled_Office2010Blue
{
    background-position: -34px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlink_Office2010Blue
{
    background-position: -17px -393px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlinkDisabled_Office2010Blue
{
    background-position: -51px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Blue
{
    background-position: -65px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Blue
{
    background-position: -49px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Blue
{
    background-position: -77px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Blue
{
    background-position: -57px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Blue
{
    background-position: -45px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Blue
{
    background-position: -81px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Blue
{
    background-position: -53px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Blue
{
    background-position: -73px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Blue
{
    background-position: -69px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Blue
{
    background-position: -61px -420px;
    width: 3px;
    height: 3px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsBottom_Office2010Blue,
.dxHtmlEditor_heConstrainProportionsTop_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Office2010Blue,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Office2010Blue,
.dxHtmlEditor_Icons_heForeColor_Office2010Blue,
.dxHtmlEditor_Icons_heBackColor_Office2010Blue
{
	display:block;
}
