.dxreControl_Office2010Blue
{
	border-style: solid;
	border-width: 1px;
	border-color: #859EBF;
	font: 11px Verdana, Geneva, sans-serif;
}
.dxreControl_Office2010Blue .dxre-rulerWrapper {
	padding-top: 2px;
    background-color: #dde8f5;
}
.dxreControl_Office2010Blue .dxre-ruler .dxre-columnHandleLeftPart,
.dxreControl_Office2010Blue .dxre-ruler .dxre-columnHandleRightPart {
    width: 5px;
    background-color: #bcb8b8;
}
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerDevisions,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerDevisions div,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-columnHandle,
.dxreControl_Office2010Blue .dxre-ruler .dxre-columnHandle > div {
	height: 12px;
}
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerDevisions {
    background-color: #fff;
}
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginLeftPanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginRightPanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginLeftHandlePanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerMarginRightHandlePanel,
.dxreControl_Office2010Blue .dxre-ruler .dxre-columnHandle {
    background-color: #d3d3d3;
}
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerDevisions .dxre-rulerMinorDevision,
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerDevisions .dxre-rulerMajorDevision {
	border-left: 1px solid #a3a3a3;
}
.dxreControl_Office2010Blue .dxre-ruler .dxre-rulerDevisions .dxre-rulerNumberDevision {
	color: #4e4e4e;
	font-size: 10px;
	line-height: 10px;
}
.dxreControl_Office2010Blue .dxre-rulerLine {
	border-left: 1px dashed #717171;
}
.dxreControl_Office2010Blue .dxre-leftIdentDragHandleBody {
    background-color: white;
    border: 1px solid #929292;
    border-top: none;
    height: 6px;
    box-sizing: border-box;
}
.dxreControl_Office2010Blue .dxrControl_Office2010Blue .dxr-minBtn 
{
	padding-right: 7px;
}
.dxreControl_Office2010Blue .dxrControl_Office2010Blue .dxtcLite_Office2010Blue
{
	background-color: #CFDDEE;
}
.dxreControl_Office2010Blue .dxrControl_Office2010Blue .dxr-tabContent 
{
	border-left-style: none;
	border-right-style: none;
}
.dxreControl_Office2010Blue .dxrControl_Office2010Blue .dxtcLite_Office2010Blue.dxtc-top .dxtc-leftIndent
{
	width: 3px;
}
.dxreControl_Office2010Blue .dxre-page {
    border: 1px solid #808080;
	box-shadow: 0 0 15px #859EBF;
}
.dxreControl_Office2010Blue .dxre-view {
	background: #dde8f5;
	background: linear-gradient(to bottom, #dde8f5 70%, #CFDDEE 100%);
}
.dxreControl_Office2010Blue .dxre-bar 
{
	background-color: #CFDDEE;
	border-top: 1px solid #859EBF;
    height: 22px;
}
.dxreControl_Office2010Blue .dxre-bar .dxre-loadingPanel {
    float: right;
    margin: 3px 2px 0 0;
    color: #3c3c3c;
}
.dxreControl_Office2010Blue .dxre-bar .dxre-loadingPanel .dx {
    line-height: 0;
}
.dxreControl_Office2010Blue .dxre-bar .dxre-loadingPanel .dxlp-loadingImage {
    width: 16px;
    height: 16px;
    background: url('../Web/Loading.gif');
}

/*Dialogs Style*/
.dxreControl_Office2010Blue .dxreDlgParagraphForm .dxtc-content {
    width: 430px;
    height: 290px;
}
.dxreControl_Office2010Blue .dxreDlgPageSetupForm .dxtc-content {
    width: 350px;
    height: 230px;
}
.dxreControl_Office2010Blue .dxreDlgColumnsForm {
    width: 400px;
}
.dxreControl_Office2010Blue .dxreDlgErrorForm {
    width: 350px;
}
.dxreControl_Office2010Blue .dxreDlgCaptionCell {
	padding-left: 5px;
    padding-right: 7px;
    padding-top: 3px;
}
.dxreControl_Office2010Blue .dxreDlgContentCell {
	padding: 11px;
}
.dxreControl_Office2010Blue .dxreDlgHeaderCell {
	padding-bottom: 7px;
}
.dxreControl_Office2010Blue .dxreDlgEmptyLine {
	height: 8px;
}
.dxreControl_Office2010Blue .dxreDlgEditor {
    width: 110px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2010Blue .dxreDlgEditorShort {
    width: 70px;
	margin-right: 7px;
	margin-left: 5px;
}
.dxreControl_Office2010Blue .dxreDlgFooterBtn {
    width: 80px;
    margin-left: 8px;
}
.dxreControl_Office2010Blue .dxreDlgPageSetupApplyTo {
	bottom: 70px;
	left: 23px;
}
.dxreControl_Office2010Blue .dxreDlgTypeRadionButtonListCell {
	padding-bottom: 10px;
}
.dxreControl_Office2010Blue .dxreDlgFooter {
	height: 27px;
	padding: 10px 10px 11px 100px;
    background-color: #CFDDEE;
    border-top: Solid 1px #AEC0D5;
}
.dxreControl_Office2010Blue .dxreDlgInsertImageForm .dxreDlgImagePreview {
    padding-top: 10px;
}
.dxreControl_Office2010Blue .dxreDlgInsertImageForm .dxreDlgImagePreviewCell {
    height: 170px;
    color: #808080;
    border: dashed 1px #808080;
}
.dxreControl_Office2010Blue .dxreDlgInsertImageForm .dxreDlgImagePreviewCell img {
    width: 180px;
    height: 100px;
}
.dxreControl_Office2010Blue .dxreDlgInsertImageForm .dxreDlgInsertImagePanel {
    width: 315px;
}
